.calculator {
    width: 300px;
    margin: 50px auto;
    background-size: cover;
    background-position: center;
  }
  
  .display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button#number {
    font-size: large;
    font-weight: 1;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(92, 180, 202);
    
  }

  button#calc {
    font-size: large;
    font-weight: 1;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 78, 78);
    
  }

  button#Cresult {
    font-size: large;
    font-weight: 1;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(183, 255, 48);
    
  }
  
  button#number:hover {
    background-color: rgb(222, 202, 223);
  }
  button#calc:hover {
    background-color: rgb(224, 206, 206);
  }

  button#Cresult:hover {
    background-color: rgb(255, 78, 3);
  }
 
.bground {
    background-image: url('mulhermeme.jpg');
    height: 400px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
}
